.toDoListColumn
{
  border-style: solid;
  border-width: 5px;
}
.toDoListRow
{
  border-style: solid;
  border-width: 5px;
  border-color: blue;
}
.toDoListItemTitle
{
  font-size: 30px;
}

.buttonColumn
{
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.testButton
{
  color: #931A21;
  border-color: #931A21;
}

.testButton:hover
{
  background-color: #931A21;
  border-color: #931A21;
}
}
