/* @extend display-flex; */
display-flex {
  display: flex;
  display: -webkit-flex; }

/* @extend list-type-ulli; */
list-type-ulli {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a:focus, a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s; }

input, select, textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0; }

input:focus, select:focus, textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important; }


img {
  max-width: 100%;
  height: auto; }

figure {
  margin: 0; }

p {
  margin-bottom: 0px; }

h2 {
  line-height: 2.5;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px; }

.clear {
  clear: both; }

body {
  font-size: 14px;
  line-height: 1.8;
  color: #222;
  background: #c9cac9;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  margin: 0px; }

.main {
  padding: 150px 0;
  position: relative; }

h1 {
  position: absolute;
  font-weight: 5800;
  font-size: 250px;
  color: #fff;
  opacity: 0.5;
  right: -150px;
  top: 30px;
  top: -170px;
  z-index: 9; }

h1 img {
  width: 1000px;
  height: auto;
}

.container {
  width: 520px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px; }

  

.sign-up-content {
  padding: 40px 60px 32px 60px;
  position: relative;
  z-index: 99; }

.form-radio {
  margin: 0 -10px;
  margin-bottom: 40px; }
  .form-radio input {
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px; }
  .form-radio input + label {
    margin: 0 8px;
    padding: 11px 31px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border: solid 2px #ebebeb;
    background-color: #FFF;
    font-size: 14px;
    font-weight: 600;
    color: #888;
    text-align: center;
    transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px; }
  .form-radio input:checked + label {
    background-color: #941B22;
    color: #FFF;
    border-color: #941B22;
    z-index: 1; }
  .form-radio input:focus + label {
    outline: none; }
  .form-radio input:hover {
    background-color: #941B22;
    color: #FFF;
    border-color: #941B22; }

input {
  border: solid 2px #ebebeb;
  box-sizing: border-box;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  font-family:'Open Sans', sans-serif;
  padding: 16px 30px 16px 140px; }

.form-textbox {
  position: relative; }
  .form-textbox label {
    position: absolute;
    left: 28px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-weight: 600;
    color: #888;
    font-size: 14px; }

#name {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

#pass {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

#email {
  border: none;
  border-left: solid 2px #ebebeb;
  border-right: solid 2px #ebebeb; }


.label-agree-term {
  color: #888; }

.term-service {
  color: #1da0f2;
  text-decoration: none; }
  .term-service:hover {
    text-decoration: underline; }

.submit {
  background: #941B22;
  color: #FFF;
  border: none;
  padding: 15px 20px;
  font-size: 13px;
  font-weight: 600;
  font-family:'Open Sans', sans-serif;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px; }
  .submit:hover {
    background: #77151b; }


input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset; }

@media screen and (max-width: 768px) {
  .container {
    width: calc( 100% - 30px);
    max-width: 100%; } }
@media screen and (max-width: 575px) {
  .sign-up-content {
    padding: 40px 20px 32px 20px; }

  .form-radio input + label {
    display: block;
    margin-bottom: 10px; } }
@media screen and (max-width: 400px) {
  .form-textbox label {
    left: 15px; }

  input {
    padding: 16px 30px 16px 100px; } }
    


/*# sourceMappingURL=style.css.map */
